/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

/* Navbar styles */
.navbar {
  /* Add styles for navbar */
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #202020;
}

.logo {
  /* Add styles for the logo */
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #eeeeee;  
}

.logo img {
  /* Add styles for logo image */
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.nav-links{
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  /* Add styles for nav links */
  cursor: pointer;
  color: #eeeeee;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links a:hover {
  /* Add hover styles for nav links */
  color: #c5c5c5;
}

/* Hero section styles */
.hero {
  /* Add styles for hero section */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.2)), linear-gradient(rgba(0,0,0,0.2)), url(./assets/chaigym.png);
}

.hero-content {
  /* Add styles for hero content */
  text-align: center;
}

.hero-content h1 {
  /* Add styles for hero heading */
  padding-top: 50px;
  font-size: 37px;
  color: #eeeeee;
}

.hero-content p {
  /* Add styles for hero paragraph */
  padding: 20px 0px;
  color: #eeeeee;
}

.cta-button {
  /* Add styles for CTA button */
}

.cta-button:hover {
  /* Add hover styles for CTA button */
}

/* Features section styles */
.features {
  /* Add styles for features section */
}

.feature {
  /* Add styles for each feature block */
}

.feature h3 {
  /* Add styles for feature heading */
}

.feature p {
  /* Add styles for feature paragraph */
}
